/* Position fixed uso */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #333;
  color: white;
  padding-top: 70px;
}

.header {
  text-align: center;
  padding: 25px 0;
  background-color: lightblue;
  color: orangered;
  position: fixed;
  top: 0;
  width: 100%;
  position: sticky;
  top: 0;
}

.link {
  position: fixed;
  background-color: lightcoral;
  width: 200px;
}

article {
  outline: 3px solid red;
}

.article-title {
  position: sticky;
  top: 0;
  background-color: #333;
  margin: 0;
}