/* 
  Selectores simples:
    - Selectores elementales
      - Selector universal > *
      - Selector de tipo o etiqueta > Nombre de la etiqueta
    - Selectores de atributo
      - id > id del elemento (No es recomendable)
      - clase > clase del elemento (es recomendado usarlo)
      - otros atributos
  Selectores compuestos:
    - Selectores agrupados
    - Selectores combinados
    - Pseudoclases - Pseudoelementos  
*/

/* * {
  background-color: lightcoral;
}

h1 {
  background-color: lightcyan;
}

p {
  background-color: lightgreen;
}

ul {
  background-color: red;
}

li {
  background-color: yellow;
} */

#title {
  background-color: lightgreen;
}

.title {
  background-color: lightcoral;
}

.text {
  background-color: lightgreen;
}