/*
  Selectores simples:
    - Selectores elementales
      - Selector universal > *
      - Selector de tipo o etiqueta > Nombre de la etiqueta
    - Selectores de atributo
      - id > id del elemento (No es recomendable)
      - clase > clase del elemento (es recomendado usarlo)
      - otros atributos
        [atributo]
        [atributo=valor]
        [atributo^=valor] (si empieza con el mismo nombre)
        [atributo*=valor] (si conincide independientemente donde se encuentre)
        [atributo$=valor] (si termina por esa palabra)
        [atributo|=valor] (incluye la palabra y un guion)
  Selectores compuestos:
    - Selectores agrupados
    - Selectores combinados
      - Selector desendiente (utilizar como maximo 2 elementos, solo tenemos acceso a los elementos 
      por debajo)
      - Selector de hermano siguiente +
      - Selector de hermano siguientes ~
    - Pseudoclases - Pseudoelementos
*/

/* * {
  background-color: lightcoral;
}

h1 {
  background-color: lightcyan;
}

p {
  background-color: lightgreen;
}

ul {
  background-color: red;
}

li {
  background-color: yellow;
} */

/* #title {
  background-color: lightgreen;
}

.title {
  background-color: lightcoral;
}

.text {
  background-color: lightgreen;
} */

/* Los estilos se aplican de arriba hacia abajo */

[href] {
  background-color: magenta;
}

[href="https://google.com"] {
  background-color: yellow;
}

[href^=color] {
  background-color: lightseagreen;
}

[href*="modo"] {
  background-color: lightskyblue;
}

[href$="rojo"] {
  background-color: lightcoral;
}

[lang|="en-GB"] {
  background-color: burlywood;
}

/* Selector agrupado */
.text,
.text-2,
.text-3,
.text-4 {
  background-color: steelblue;
}

/* Selector desendiente */

div .title-2 {
  background-color: teal;
}

/* Selector de hermano siguiente */
.text-5 + .title-3 {
  background-color: tomato;
}

.title-3 ~ p {
  background-color: lawngreen;
}
