/* 
  Colores
  La mayoria de las pantallas funcionan con un de color aditivo. La suma de RGB da como resultado un 
  blanco.
  Tenemos varias formas de dar color en CSS.
  Keywords: palabras cable que representan colores.
  IMPORTANTE: Recordad que existe un color transparente.

  Currentcolor
  Es la palabra clave que se puede usar en lugar de cualquier valor de color y usara el valor ya sea 
  establecido o heredado en la propiedad color.

  RGB
  En el modo RGB tenemos tres canales (red, green, blue) y tenemos 8 bits de colores por canal, 
  (cada bit tiene dos posibles valores 0 ó 1) lo que significa que tenemos 2^8 posible valores,
  que van desde 0 hasta 255.
  Esto nos da un total de 255 * 255 * 255 = 16.581.375 colores.
  Su sintaxis es rgb(R, G, B)

    - Si ponemos todos los canales a 0 tendremos un negro puro y si los ponemos  a 255 tendremos un blanco.
    - Para movernos por la gama de grises debemos poner los 3 canales con el mismo valor, si ponemos los 
    3 canales a 128 tendremos el gris puro.
    - El modo RGB nos da la opción de utilizar un cuarto canal que corresponde al canal alpha, es decir, la
    transparencia y su valor va desde 0 a 1. Tenemos dos sintaxis para utilizar el canal alpha: 
      - rgba(R, G, B, A)
      - rgb(R G B / A)
  
  Hexadecimal
  La notación hexadecimal es la más común en el desarrollo web se basa en los mismos principios que el 
  RGB pero escrito en notación hexadecimal.
  El sistema hexadecimal es un sistema basado en 16 valores dle 0 al 15. Utiliza los valores del 0 al 9 
  y las letras de la A a la F.
  Este tipo de notación tambien necesita 256 valores.

  Para indicar que vamos a utilizar notación hexadecimal debemos utilizar el simbolo de hash y a continuación
  utilizaremos esta notación por parejas #RRGGBB.
  Cuando una pareja utiliza el mismo valor se puede omitir el segundo valor, siempre que se haga en las 
  tres parejas.

    - rgb(255, 255, 255) => #FFFFFF => #FFF
    - rgb(0, 0, 0) => #000000 => #000

  Tambien tenemos la opción de usar transparencias en hexadecimal añadiendo un cuarto canal que sigue las 
  mismas normal.

  HSL / HSLA
  El modo de color HSL es el más intuitivo para los humanos. Su nombre viene de las siglas HUE (tono), 
  saturation (saturación) y lightness (luminosidad).
  El primer valor es el angulo en el circulo chromatico donde 0 y 360 será el color rojo. Hay ciertos valores 
  que pueden servir como referencia para relacionar mejor los colores con sus angulos.
    - 0 -> rojo
    - 60 -> amarillo
    - 120 -> verde
    - 180 -> cyan
    - 240 -> azul
    - 300 -> magenta
  El segundo valor es la saturación o la intencidad del color 0% -> gris y 100% -> color puro.
  El tercer valor es la luminocidad del color 0% -> negro, nada de luz, 100% -> blanco luz maxima.

  Nota: Es importante que aunque el valor de saturación o luminocidad sea 0 hay que poner 0% si no, 
  no funcionara.

  El modo HSL tambien admite transparencia y su sintaxis es la misma que la del modo RGB. Tenemos
  dos sintaxis disponibles.
   - hsla(a, s, l, a)
   - hsl(h s l / a)
  En ambos casos el valor alpha va de 0 a 1

  Existen otros modos de color en los que se esta trabajando que serían CMYK, HWB, Lab, y Lch. Todos
  en el borrador del modulo de color de nivel 4 pero aún no es estandar.
*/

body {
  margin: 0;
  /* background-color: #333; */
}

.box {
  /* width: 300px;
  height: 300px;
  background-color: purple; */
  border-right: 100px solid red;
  border-top: 100px solid blue;
  border-bottom: 100px solid green;
}

.box-a {
  width: 300px;
  height: 300px;
  background-color: blueviolet;
  color: yellow;
}

.box-a-child {
  width: 50%;
  height: 50%;
  background-color: currentColor;
  border: 2px solid red;
}

.box-b {
  width: 300px;
  height: 300px;
  background-color: rgb(0, 255, 255);
  box-shadow: 10px 10px rgb(0 0 0 / 0.1);
}

.box-b-child {
  width: 50%;
  height: 50%;
  background-color: rgb(0 0 0 / 0.1);
}

.box-c {
  width: 300px;
  height: 300px;
  /* Para transparencia se pone un cuarto canal como se ve a continación */
  background-color: #5db8a480;
  counter-reset: #9a1daa;
}

.box-d {
  width: 300px;
  height: 300px;
  background-color: hsl(60, 100%, 50%);
  color: hsl(30 100% 50% / 0.5);
}