body {
  font-size: 10px;
}

.title {
  font-size: 2rem;
}

.title-2 {
  font-size: 4em;
}

.link {
  background-color: lightcoral;
  color: #333;
  padding: 1em 2em;
  border-radius: 0.5em;
  font-size: 2rem;
}

/* 
  Las medidas en CSS se pueden agrupar en 2 grupos, absolutas y relativas.

  Medidas absolutas: NO CAMBIAN y siempre mantendran su tamaño independientemente del dispositivo o la
  interacción del usuario.
  Las más usada es px (píxeles) cuya medida es 1/96 de 1in, pero existen otras como: 
    - cm(centímetro): 1cm = 96px/2,54
    - mm(milímtro): 1mm = 1/10 de 1cm
    - Q(cuarto de milímetro): 1Q = 1/40 de 1cm
    - in(inches, pulgadas): 1in = 2,54cm = 96px
    - pc(picas): 1pc = 1/16 de 1in
    - pt(puntos): 1pt = 1/72 de 1in

  Medidas relativas: SIEMPRE dependen de un contexto, son las que se recomienda utilizar en la gran 
  mayoría de ocasiones porque nos van a apermitir que todos los elementos escalen proporcionalmente.
  Los más usados son em, rem, %, vw, vh, vmin y vmax aunque tenemos otras como: 
    - ex: altura x de la fuente del elemento
    - ch: la medida del ancho del glifo "0" de la letra del elemento
    - lh: altura de la linea del elemento

  rem: corresponde a la medida de "m" de la raiz del documento (html).
    Ejemplo: 16px = 1 rem
  em: corresponde a la medida de la "m" del contexto donde nos encontramos.

  El estandar del tamaño de fuente por defecto en la raiz del documento es 16px, y NO ES RECOMENDABLE
  MODIFICARLO.
  NOTA: tanto em como rem se calcula en base a la propiedad font-size.

  Recomendacones
  - Usar rem simpre para tamaños de fuente.
  - Si la medida tiene que crecer proporcionalmente al texto utilizar em.
  - Si la medida tiene que ser siempre relativa al tamaño de fuente de la raiz.
*/