* {
  box-sizing: border-box;
}

body {
  background-color: rgb(39, 39, 39);
  color: white;
  margin: 0;
}

/* Circular */
.box {
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  background-color: aquamarine;
  width: 300px;
  height: 300px;

  /* border-radius: 50px; */

  /* border-top-right-radius: 50px;
  border-top-left-radius: 100px;
  border-bottom-right-radius: 150px;
  border-bottom-left-radius: 200px; */

  border-radius: 50px 100px 150px 200px;
}

/* Elíptico */
.box-1 {
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  background-color: coral;
  width: 300px;
  height: 300px;

  border-top-left-radius: 50px 100px;
  /* 
    Como elipse esta necesitar estar conformada por dos radios. En este caso diferenciamos
    los radios utilizanod el simbolo "/".
  */
  border-radius: 50px 100px 150px 200px / 100px 150px 200px 250px;
}
/* 
  Border-radius: Es la propiedad que nos permite redondear vertices de forma independiente. Es
  un shorthand que engloba 4 propiedades:
    - border-top-left-radius: Radio del borde superior izquierdo.
    - border-top-right-radius: Radio del borde superior derecho.
    - border-bottom-right-radius: Radio del borde inferior derecho.
    - border-bottom-left-radius: Radio del bolder inferior izquierdo.
  
  Si solo recibe un valor dibujara un circulo en cada vértice del radio que especifiquemos.
  
  border-radius: 50px; > Circulo con 50px de radio.

  Si utilizamos el border-radius como shorthand hay diferencias entre si queremos dar un valor
  o cada lado (circulo) o dos (elipse)
*/