
/*  
  Herencia: Es la capacidad que tienen algunos elementos de heredar algunas propiedades de sus
  elementos contenedores (padres, abuelos, etc)
*/

/* span hereda el color y el tamaño de la fuente */
.title {
  color: cyan;
  font-size: 10px;
}

/* los enlaces no heredan por que es necesario distinguirlos */
.text {
  color: tomato
}

.link {
  /* con inherit forzamos la herencia */
  color: inherit;
}

.list {
  color: green;
}

.list-item-extra {
  /* con initial ignoramos la herencia y vuelve a los estilos por defecto */
  color: initial;
}