/* 
  Tipografia
  La tipografia es la ciencia que estudia el diseño y el uso de los tipos de letras.
   - Las funtes son el tipo especifico de letra.
   - Los glifos son cada uno de los dibujos que representan cada simbolo de la fuente, incluidos los 
   espacios.
   - Los estilos de fuente son las modificaciones que se hace a las fuentes, como el grosor o la 
   inclinacion.
   - Familia tipografica, son las diferentes fuentes que pertenecen a una misma fuente base.
   - Cuando usamos una propiedad text-* estamos afectando a un bloque completo.
   - Cuando usamos una propiedad font-* afectamos a la funte del texto.
  
   Fuentes predeterminadas, son las fuentes que se consideran seguras ya que no son genericas y no
   establecen una familia tipografica, si no un estilo de fuente: 
    - serif: fuentes que tienen serifas (adornadas en los caracteres).
    - sans-serif: fuentes sin serifas.
    - monospace fuente que tiene el mismo espaciado en todos sus caracteres.
    - cursive: funte que pretende emular escritura a mano, con ligaduras y trazos fluidos.
    - fantasy: fuentes que suelen ser decorativas

  Funetes desde un servidor remoto, son fuentes que se encuentran en un servidor y que nosotros descargamos 
  para su uso, la más famosa es google fonts.

  Siempre que utilicemos fuentes no genericas, debemos poner fuentes genericas de fallback (respaldo).

  NOTA
  Si vas a usar una gran cantidad de iconos en tu web compensa usar la libreria remota, pero si solo
  usaras unos pocos es mejor descargarlos en formato svg y utilizarlos como imagenes.

  Formatos de fuentes
    - True Type Font (TTF): fue el primer formato estandar. 
    - Open True Type Font (OTF): facilita o implementa la creación de curvas.
    - Web Open Font Format (WOFF) (WOFF2): es un formato mucho más ligero y mejora el rendimiento.
    Funciona a travez de metadatos. WOFF tiene soporte total y WOFF2 no funciona en internet explorer.
    - Scalable Vector Graphics (SVG): para efectos y animaciones sobre el texto, no es recomendable usarlo
    en el texto generico de la web, tiene muchos problemas.
    - Embedded Open Type (EOT): primer formato digital propuesto para sitios web y es comprimido. Se quedo
    como una propuesta pero no pasó a ser un estandar.
    
  Regla @font-face
  Esta es la forma de utilizar fuentes que tenemos descargadas y que no traemos de un servidor remoto,
  cuando utilizamos google fonts, esto es lo que esta pasando de fondo.
  La sintaxis es:
    @font-face: 
      - font-family: nombre de la familia, se lo asignamos nosotros:
        src: aqui ponemos dos tipos de valores.
          Local(): ponemos el nombre de la fuente para buscarla en el ordenador del usuario, de esa forma 
          podemos evitar descargarlo.
          url(): si no encontramos la fuente procedemos a descargarla.
          Existe otro valor menos usado que es format.
          format(): este valor lo pasaremos de forma opcional si queremos ser más especificos con la fuente
          que vamos a buscar o descargar, si no podemos cogerá el primer formato soportado, si lo ponemos
          solo usara el que hemos establecido, si no lo encuentra no hará nada.
    Podemos añadirle más valores como font-style, font-weight y font-display(experimental), pero esos 
    son opcionales.

    Transformaciones de texto
    text-transform: esta propiedad nos permite hacer transformaciones ESTETICAS en nuestro texto.
    Admite valores: 
      - none: no se aplicara ninguna transformación
      - uppercase: el texto se pondra en mayusculas
      - lowercase: el texto se pondra en minusculas
      - capitalize: transforma la primera letra de cada texto en mayúsculas
    
    Adornos de texto
    text-decoration: esta propiedad nos permite controlar la linea que podemos poner en los textos.
    admite valores: 
      - none: elimina cualquier linea
      - underline: coloca una linea bajo el texto
      - overline: coloca una linea sobre el texto
      - line-through: coloca una linea tachando el texto
    
    text-shadow: funciona exactament igual que box-shadow, con la unica diferencia de que no admite 
    el valor inset ni la expansion de la sombra.
    Los valores son: 
      - offsetX: desplazamiento horizontal
      - offsetY: desplazamiento vertical
      - blur: desenfoque
      - color, por defecto coge el del texto

  Espaciado en fuentes y texos
    - letter-spacing: establece la separación entre caracteres, se puede establecer en cualquier medida
    valida para CSS.
    - word-spacing: establece la separación entre palabras, se puede establecer en cualquier medida 
    valida para CSS.
    - line-height: establece el alto de cada linea, se puede dar un medida concreta o se puede poner
    un numero que se multiplicara por el font size del texto al que lo estamos aplicando.

  Orientación del texto
    - writing-mode: establece la dirección del texto.
*/

@font-face {
  font-family: "title-font-main";
  src: local("Evgeny - Regular"), url("../assets/fonts/Evgeny-Regular.ttf");
}

p {
  color: black;
  /* font-family: "Roboto Mono", monospace; */
  font-family: "title-font-main";
  font-weight: 400;
}

.text {
  font-family: monospace;
  text-transform: capitalize;
  text-decoration: overline;
  text-shadow: 3px 3px 0 red;
}

.text-a {
  font-family: monospace;
  letter-spacing: 3px;
  word-spacing: 5px;
  line-height: 5;
  writing-mode: vertical-lr;
}